.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

/*-----------------------HEADER---------------------------------------*/

.link {
  color: #2f80ed;
  text-decoration: none;
}

.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  position: relative;
  display:flex;
  background-color: #f2f2f2;
}

.header__main-illustration {
  width: 765px;
  height: 608px;
  position: absolute;
  right: 0px;
  bottom: 0px;
}

.header__title {
  width: 730px;
  position: absolute; /*?????????????????????????????????*/
  left: 64px;
  align-self: center;
}

.header__title_fontstyle {
  line-height: 96px;
  font-size: 102px;
  font-weight: 600;
}

.header__subtitle {
  width: 388px;
  position: absolute;
  left: 64px;
  bottom: 30px;
}

.header__subtitle_fontstyle {
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
}

.header_square-pic {
  width: 568px;
  height: 568px;
  position: absolute;
  top: 64px;
  right: 0;
  background-color: #2f80ed;
}

.logo {
  width: 228px;
  height: 32px;
  background-repeat: no-repeat;
  background-size: contain;
}

.logo_place_header {
  background-image: url(../images/logo_place_header.svg);
  position: absolute;
  top: 30px;
  left: 64px;
  z-index: 1;
}

/*------------------------CONTENT-------------------------------------*/

/*-----------------------DESCRIPTION------------------*/

.description {
  padding-top: 100px;
  padding-bottom: 100px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

/*-----------------------TWO COLUMNS------------------*/

.two-columns {
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.two-columns__brief {
  width: 175px;
}

.two-columns__brief_fontstyle {
  margin: 0;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  color: #2f80ed;
}

.two-columns__main-text {
  width: 80%;
  min-width: 784px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.two-columns__paragraph {
  margin: 0;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  padding-bottom: 30px;
}

.two-columns__paragraph:last-of-type {
  padding-bottom: 0px;
}

.two-columns__paragraph_bold {
  font-weight: 600;
}

/*--------------------------DIGITS--------------------*/

.digits {
  border: 1px solid blue;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 100px;
  padding-bottom: 100px;
  position: relative;
}

.section-title {
  border: 1px solid red;
  width: 60%;
  padding-bottom: 20px;
  text-align: center;
  z-index: 1;
}

.section-title_theme_light {
  border: 1px solid red;
  line-height: 1.15;
  font-size: 60px;
  font-weight: 600;
  color: black;
  margin: 0px;
}

.section-title_theme_dark {
  line-height: 1.15;
  font-size: 60px;
  font-weight: 600;
  color: white;
  margin: 0px;
}

.section-subtitle {
  border: 1px solid red;
  width: 60%;
  text-align: center;
  z-index: 1;
}

.section-subtitle_theme_light {
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  color: black;
  margin: 0px;
}

.section-subtitle_theme_dark {
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  color: white;
  margin: 0px;
}

.table {
  border: 1px solid red;

  width: 1100px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  z-index: 1;
}

.table__cell_width_l {
  margin-top: 60px;
  width: 250px;
}

.table__cell_width_s {
  margin-top: 80px;
  width: 200px;
}

.table__cell_theme_light {
  border: 1px solid red;

  color: black;
  margin-right: 0;
}

.table__cell_theme_dark {
  border: 1px solid red;

  color: white;
  margin-right: 0;
}

.table__heading_theme_light {
  color: black;
  margin: 0;
  line-height: 1.15;
  font-size: 24px;
  font-weight: 600;
}

.table__heading_theme_dark {
  color: white;
  margin: 0;
  line-height: 1.15;
  font-size: 24px;
  font-weight: 600;
}

.table__text_theme_light {
  color: black;
  margin: 20px 0px 0px 0px;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
}

.table__text_theme_dark {
  color: white;
  margin: 20px 0px 0px 0px;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
}


/*--------------------------FEYNMAN--------------------*/

.feynman {
  border: 1px solid green;

  background-color: #f2f2f2;
  height: 890px;
  padding-top: 100px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url(../images/feynman.png);
  background-position: left bottom;
  background-repeat: no-repeat;
  box-sizing: border-box;
}

.feynman_pic {
  width: 867px;
  height: 637px;
  position: absolute;
  left: 0px;
  bottom: 0px;
}

.feynman__title {
  border: 1px solid red;
  width: 648px;
  display: flex;
  text-align: center;
  z-index: 1;
}

.feynman__title_fontstyle {
  margin: 0;
  line-height: 1.15;
  font-size: 120px;
  font-weight: 600;
}

.feynman__subtitle {
  margin: 70px 0px 0px 0px;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  z-index: 1;
}

.feynman__link {
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  position: absolute;
  top: 50%;
  right: 48px;
}

/*--------------------------KAUFMAN--------------------*/

.kaufman {
  border: 1px solid yellow;
  background-color: #1f1f1f;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 90px;
  padding-bottom: 90px;
  position: relative;
  overflow: hidden;
  box-sizing: border-box;
}

.kaufman__triangle {
  width: 877px;
  height: 877px;
  background-image: url(../images/kaufman-triangle.svg);
  background-repeat: no-repeat;
  position: absolute;
  top: 0px;
  right: -210px;
}

/*---------------------------FOOTER--------------------------------------*/

.footer {
  border: 1px solid red;

  background-color: #1f1f1f;
  min-height: 350px;
  padding-top: 60px;
  padding-bottom: 40px;
  position: relative;
  box-sizing: border-box;
}

.footer__columns {
  border: 1px solid blue;
  margin: 0px auto;
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.footer__column_content_copyright {
  border: 1px solid red;
  flex-basis: 711px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.footer__column_content_info {
  border: 1px solid red;

}

.footer__column_content_social {
  border: 1px solid red;

}

.footer__author {
  margin: 0;
  padding-top: 18px;
  padding-bottom: 18px;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  color: white;
}

.logo_place_footer {
  background-image: url(../images/logo_place_footer.svg);
}

